<%= form_with model: task do |f| %>
  <div class="row">
    <div class="col-12 col-lg-6">
      <%= f.label :title, :class => 'form-label' %>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-12 col-lg-6">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6">
      <%= f.label :details, :class => 'form-label' %>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-12 col-lg-6">
      <%= f.text_area :details, :class => 'form-control' %>
    </div>
  </div>
  <% if task.persisted? %>
    <div class="row mb-2">
      <div class="col-12 col-lg-6">
        <%= f.check_box :completed %>
        <%= f.label :completed, "This task is completed" %>
      </div>
    </div>
  <% end %>
  <div class="row mt-2">
    <div class="col-12 col-lg-6">
      <%= f.submit :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>
