<h1>My Tasks</h1>

<ol>
  <% @tasks.each do |task| %>
    <li>
        <%= task.completed ? "[X]" : "[ ]" %>
        <%= link_to task.title, task_path(task) %>
        (<%= task.details %>)
        <%= link_to "âœï¸", edit_task_path(task) %>
        <%= link_to "ðŸ—‘", task_path(task), data: {turbo_method: :delete,
          turbo_confirm: "Are you sure?"} %>
    </li>
  <% end %>
</ol>

<%= link_to "+ Add a task", tasks_new_path %>
